[submodule ".registry"]
	path = .registry
	url = https://github.com/scienceverse/scienceverse.r-universe.dev
	branch = HEAD
[submodule "metacheck"]
	path = metacheck
	url = https://github.com/scienceverse/metacheck
[submodule "metacheck.dev"]
	path = metacheck.dev
	url = https://github.com/scienceverse/metacheck
	branch = dev
